.mb {
    &-88 {
        margin-bottom: 88px;
    }
    &-80 {
        margin-bottom: 80px;
    }
    &-104 {
        margin-bottom: 104px;
    }
}

.blue-underline {
    color: $blue;
    text-decoration: underline;
}

.textarea__label {
    top: 16px;
}

.m-auto-sides {
    margin-left: auto;
    margin-right: auto;
}
