.mb-88 {
    margin-bottom: 88px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-104 {
    margin-bottom: 104px;
}

.blue-underline {
    color: $blue;
    text-decoration: underline;
}

.textarea__label {
    top: 16px;
}
