// COLORS
$white: #fff;
$white-dark: #f0f4f9;
$white-darker: #f2f4f6;
$gray-light: #e5ebf3;

$blue: #004bbc;
$blue-dark: #003f9e;
$blue-light-2: #d1dff3;
$blue-2: #3e79d1;

$black-light: #323f58;
$black: #0e1f40;

$gray: #7e8084;
$gray-2: #d1d5da;
$gray-3: #dee1e5;
$gray-4: #f2f4f6;

$green: #8cc540;
$green-dark: #7cb135;

$red: #eb5757;
